
        header {
            backgrond-color: #700f0f;
            color: #ffffff;
            text-align: center;
            margin: 0 auto;
            padding: 16px;
            border: 5px solid #69c7;
        }

        main {
            background-color: #ffffff;
            color: #700f0f;
            text-align: center;
            margin: 0 auto;

        }
        main {
            backgrond-color: #0f6d70;
             color: #ffffff;
            text-align:center ;
margin: 0 auto;
padding: 16px;

        }
